.ICEauthority
.VirtualBox
.Xauthority
.adobe/
.android/
.armory/
.bash_history
.bitcoin/
.cache/
.config/
.dbus/
.emacs-places
.emacs.d/
.fontconfig/
.gconf/
.gnome/
.gnome2/
.gnucash/
.gqview/
.keys/
.lesshst
.local
.mozilla/
.mplayer/
.nx/
.org-timestamps/
.pki/
.pulse-cookie
.qt/
.thunderbird/
.vim/
.viminfo
src/android-sdk-linux/
src/bitcoinj/
src/btrfs-progs/
src/bup/
