.ICEauthority
.VirtualBox
.Xauthority
.adobe/
.android/
.armory/
.bash_history
.bitcoin/
.cache/
.config/
.dbus/
.emacs-places
.emacs.d/
.fontconfig/
.gconf/
.gnome/
.gnome2/
.gnucash/
.gnupg/
.gqview/
.keys/
.lesshst
.links/
.local
.mozilla/
.mplayer/
.serverauth.*
.nx/
.org-timestamps/
.pki/
.python_history
.pulse-cookie
.qt/
.ssh/known_hosts
.thunderbird/
.vim/
.viminfo
src/bup/
