[user]
	email = russ@yanofsky.org
	name = Russell Yanofsky
	signingkey = EDDD266173A28656DE751E52C639D32D5A0EFCCD!
[color]
	ui = true
[merge]
	conflictstyle = diff3
[gc]
	refLogExpire = never
	reflogexpireunreachable = never
	auto = 0
[core]
	pager = less -F -X
[push]
	default = upstream
[rerere]
	enabled = true
	autoupdate = true
[diff]
	algorithm = histogram
	indentHeuristic = true
	colorMoved = dimmed_zebra
