[user]
	email = russ@yanofsky.org
	name = Russell Yanofsky
[color]
	ui = true
[merge]
	conflictstyle = diff3
[gc]
	refLogExpire = never
	reflogexpireunreachable = never
	auto = 0
[core]
	pager = less -F -X
[push]
	default = upstream
[rerere]
	enabled = true
	autoupdate = true
