.adobe/
.android/
.armory/
.bash_history
.bitcoin/
.cache/
.config/
.dbus/
.emacs.d/
.emacs-places
.fontconfig/
.gconf/
.gnome2/
.gnucash/
.gqview/
info/cash/russ.*
.keys/
.lesshst
.local
.mozilla/
.mplayer/
.nx/
opt/bin/*.pyc
opt/tmp/
.org-timestamps/
.pki/
.pulse-cookie
.qt/
.thunderbird/
.vim/
.viminfo
.VirtualBox
.Xauthority
