SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_MODEL}=="ST4000DM000-1F2168", ENV{ID_SERIAL}=="ST4000DM000-1F2168_Z3008CQ8", SYMLINK+="mup"
SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_MODEL}=="WDC_WD20EADS-00W4B0", ENV{ID_SERIAL}=="WDC_WD20EADS-00W4B0_WD-WCAVY6686823", SYMLINK+="book"
SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_MODEL}=="ST8000VN0022-2EL112", ENV{ID_SERIAL}=="ST8000VN0022-2EL112_ZA17FHRL", SYMLINK+="seven"
SUBSYSTEM=="block", ENV{DEVTYPE}=="partition", ENV{ID_MODEL}=="ST8000VN0022-2EL112", ENV{ID_SERIAL}=="ST8000VN0022-2EL112_ZA17FHRL", SYMLINK+="seven%n"
SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_MODEL}=="ST8000VN0022-2EL112", ENV{ID_SERIAL}=="ST8000VN0022-2EL112_ZA17V139", SYMLINK+="seb"
SUBSYSTEM=="block", ENV{DEVTYPE}=="partition", ENV{ID_MODEL}=="ST8000VN0022-2EL112", ENV{ID_SERIAL}=="ST8000VN0022-2EL112_ZA17V139", SYMLINK+="seb%n"
