appengine-404/
bips/
bitcoin/
bufferman/
bup/
capnproto/
cc-home/
cc/
cfree/
cs4772-project/
cvsdate/
cvsimport/
device/
diffie/
easycrt/
ethcore-advert/
fbdb/
gateone/
git-fixup/
lost/
net/
quickman/
rcsimport/
react/
rref/
site/
site_old/
stick/
tiger/
twofish/
univalue/
viewvc/
wces/
