appengine-404/
bufferman/
bup/
cfree/
cs4772-project/
cvsdate/
cvsimport/
device/
diffie/
easycrt/
fbdb/
gateone/
lost/
net/
quickman/
rcsimport/
react/
rref/
site/
site_old/
stick/
tiger/
twofish/
viewvc/
wces/
